[submodule "Tools/Online"]
	path = Tools/Online
	url = https://github.com/leafvmaple/leafvmaple.github.io
[submodule "LeafLanguage/MBProgressHUD"]
	path = LeafLanguage/MBProgressHUD
	url = https://github.com/jdg/MBProgressHUD.git
[submodule "LeafLanguage/RNFrostedSidebar"]
	path = LeafLanguage/RNFrostedSidebar
	url = https://github.com/rnystrom/RNFrostedSidebar.git
